{
  "parser": "babel-eslint",
  "rules": {
    "indent": [
      "error",
      4
    ],
    "arrow-body-style": "off",
    "no-console": "off",
    "no-continue": "off",
  },
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  }
}
