/node_modules/
/package-lock.json
/.idea/
/__tests__/test.abi.json
/__tests__/test.tvc
/__tests__/testContract.js
/__tests__/23cf51cff01453d5b62ce9a4e3cfe193f50aacc62c5c46843f8416a132f81ba3.tvc
/__tests__/job.sh
/__tests__/test.code
/__tests__/test.result
/reinstall.sh
/self-doc-gen.sh